.Rproj.user
.Rhistory
.RData
.Ruserdata
phd-metrics-fall-2020.Rproj
ProblemSets/PS1-julia-intro/PS1solutions.jl
ProblemSets/PS1-julia-intro/Cmatrix.csv
ProblemSets/PS1-julia-intro/Dmatrix.dat
ProblemSets/PS1-julia-intro/firstmatrix.jld
ProblemSets/PS1-julia-intro/matrixpractice.jld
ProblemSets/PS1-julia-intro/nlsw88.jld
ProblemSets/PS2-optimization-intro/PS2solutions.jl
ProblemSets/PS3-gev/PS3solutions.jl
ProblemSets/PS3-gev/stata_nlogit.do
ProblemSets/PS4-mixture/PS4solutions.jl
ProblemSets/PS4-mixture/stata_mixlogit.do
ProblemSets/PS4-mixture/stata_mixlogit.log
ProblemSets/PS5-ddc/PS5solutions.jl
ProblemSets/PS5-ddc/an_busdata.do
ProblemSets/PS5-ddc/an_busdata.log
References/*.pdf
References/TrainTextbook/*.pdf
