.Rproj.user
.Rhistory
.RData
.Ruserdata
phd-metrics-fall-2020.Rproj
ProblemSets/PS1-julia-intro/PS1solutions.jl
ProblemSets/PS1-julia-intro/Cmatrix.csv
ProblemSets/PS1-julia-intro/Dmatrix.dat
ProblemSets/PS1-julia-intro/firstmatrix.jld
ProblemSets/PS1-julia-intro/matrixpractice.jld
ProblemSets/PS1-julia-intro/nlsw88.jld
ProblemSets/PS2-optimization-intro/PS2solutions.jl
ProblemSets/PS3-gev/PS3solutions.jl
ProblemSets/PS3-gev/stata_nlogit.do
ProblemSets/PS3-gev/stata_nlogit.log
ProblemSets/PS4-mixture/PS4solutions.jl
ProblemSets/PS4-mixture/stata_mixlogit.do
ProblemSets/PS4-mixture/stata_mixlogit.log
ProblemSets/PS5-ddc/PS5solutions.jl
ProblemSets/PS5-ddc/an_busdata.do
ProblemSets/PS5-ddc/an_busdata.log
ProblemSets/PS5-ddc/rustbusdata.csv
ProblemSets/PS5-ddc/AM2011replication
ProblemSets/PS6-ccp/PS6solutions.jl
ProblemSets/PS7-smm/PS7solutions.jl*
ProblemSets/PS7-smm/PS7stata.do
ProblemSets/PS7-smm/PS7stata.*
ProblemSets/PS8-factor/PS8solutions.jl*
ProblemSets/PS8-factor/PS8stata*.*
ProblemSets/PS8-factor/PS8sim.*
ProblemSets/PS8-factor/simdata.csv
References/*.tex
References/*.pdf
References/TrainTextbook/*.pdf
