@import url(https://fonts.googleapis.com/css?family=Zilla+Slab:300,300i,400,400i,500,500i,700,700i);
/* change color of URLs? */
a, a > code {
  font-weight: 400;
  color: rgb(132,22,23) !important;
  font-family: monospace;
  /*color: rgb(132,22,23);*/
  /*text-decoration: none;*/
}

h1 {
  font-weight: normal;
  margin-top: -95px;
  margin-left: -00px;
  color: rgb(132,22,23);
}

.ou-crimson { color: rgb(132,22,23); }

/* Create a highlighted class called 'hi'  */
.hi {
  font-weight: 600;
  color: rgb(132,22,23) !important;
}
.hi-pink {
  font-weight: 600;
  color: rgb(132,22,23) !important;
  /*color: #e64173 !important;*/
}
.hi-slate {
  font-weight: 600;
  color: #314f4f !important;
}
.hi-turquoise {
  font-weight: 600;
  color: #44C1C4 !important;
}
.hi-purple {
  font-weight: 600;
  color: #6A5ACD !important;
}
.hi-orange {
  font-weight: 600;
  color: #FFA500 !important;
}
.hi-yellow{
  font-weight: 600;
  color: #D8BD44 !important;
}
.hi-green {
  font-weight: 600;
  color: #7CAE96 !important;
}
.hi-grey {
  font-weight: 600;
  color: #8AA19E !important;
}
.hi-blue {
  font-weight: 600;
  color: #3C93DC !important;
}
.hi-red {
  font-weight: 600;
  color: #fb6107 !important;
}
.hi-crimson {
  font-weight: 600;
  color: rgb(132,22,23) !important;
}
/* Pink text */
.pink {
  color: rgb(132,22,23) !important;
  /*color: #e64173 !important;*/
}
/* Slate ("darkslategrey") text */
.slate {
  color: #314f4f !important;
}
/* Turquoise ("lightseagreen") text */
.turquoise {
  color: #44C1C4 !important;
}
/* Purple-ish ("slateblue") text */
.purple {
  color: #6A5ACD !important;
}
/* Orange ("orange") text */
.orange {
  color: #FFA500 !important;
}
.yellow{
  color: #D8BD44 !important;
}
.green {
  color: #7CAE96 !important;
}
.grey {
  color: #8AA19E !important;
}
.blue {
  color: #3b3b9a !important;
}
.red {
  color: #fb6107 !important;
}

/* Grey text */
.grey-mid {
  color: #7f7f7f !important;
}
.grey-light {
  color: #d2d2d2 !important;
}
.grey-vlight {
  color: #e5e5e5 !important;
}
/* White text */
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}

.bw {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.gw {
  background-color: rgb(255,253,218);
  color: rgb(255,253,218);
}

/* Mono-spaced font */
.mono {
  font-family: monospace;
}
/* Underline */
.ul {
  text-decoration: underline;
}
/* Overline */
.ol {
  text-decoration: overline;
}
.st {
  text-decoration: line-through;
}
/* Bold */
.b {
  font-weight: bold;
}
/* Italic */
.it {
  font-style: italic;
}
/* Fraction */
.top{
  display:inline-block;
}
.bottom{
  border-top:solid black 1px;
  display:inline-block;
  clear:left;
}

.clear .remark-slide-number {
  display: none;
}
.inverse .remark-slide-number {
  display: none;
}

.remark-code-line-highlighted {
  background-color: rgba(249, 39, 114, 0.5);
}

.bigger {
  font-size: 125%;
}
.huge{
  font-size: 150%;
}

.small {
  font-size: 95%;
}
.smaller {
  font-size: 85%;
}
.smallest {
  font-size: 75%;
}

.smallest70 {
  font-size: 70%;
}

.smallest65 {
  font-size: 65%;
}

.tiny {
  font-size: 50%;
}

.minuscule {
  font-size: 30%;
}

.remark-slide-content {
  background-color: rgb(255,253,218);
  font-size: 28px;
  border-top: 80px solid rgb(255,253,218); /*rgb(132,22,23);*/
  /*border: rgb(132,22,23);*/
  /* font-weight: 300; */
  /* line-height: 1.5; */
  /* padding: 1em 2em 1em 2em; */
}

.inverse {
  background-color: rgb(132,22,23); /*#23373B;*/
  text-shadow: 0 0 20px #333;
  /* text-shadow: none; */
}

.title-slide {
  background-color: rgb(255,253,218);
  border-top: 80px solid rgb(255,253,218);
}

.footnote {
  bottom: 1em;
  font-size: 80%;
  color: #7f7f7f;
}

/* Turn off slide numbers */
.remark-slide-number {
  /* display: none; */
}

.dark-slide {
  background-color: #23373B;
  border-top: 0px solid #23373B;
}
.dark-slide .remark-slide-number {
  display: none;
}

.white-slide {
  background-color: #ffffff;
  border-top: 0px solid #ffffff;
}
.white-slide .remark-slide-number {
  display: none;
}

.mjx-chtml{
  font-size: 103% !important;
}

/* Mono-spaced font, smaller */
.mono-small {
  font-family: monospace;
  font-size: 20px;
}
.mono-small .mjx-chtml {
  font-size: 103% !important;
}

.pseudocode, .pseudocode-small {
  font-family: monospace;
  /*background: #f8f8f8;*/
  background: rgb(240,235,196);
  border-radius: 3px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.pseudocode-small {
  font-size: 20px;
}

.super{
  vertical-align: super;
  font-size: 70%;
  line-height: 1%;
}
.sub{
  vertical-align: sub;
  font-size: 70%;
  line-height: 1%;
}

.remark-code {
  font-size: 58%;
  background: rgb(240,235,196);
}

.inverse > h2 {
  color: rgb(132,22,23);
  font-weight: 300;
  font-size: 40px;
  font-style: italic;
  margin-top: -25px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: rgb(132, 22, 23);
  text-shadow: none;
  font-weight: 800;
  font-size: 35px;
  font-style: normal;
  text-align: left;
  margin-left: 15px;
}

.remark-inline-code {
  background: rgb(240,235,196); /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

/* 2/3 left; 1/3 right */
.more-left {
  float: left;
  width: 63%;
}
.less-right {
  float: right;
  width: 31%;
}
.more-right ~ * {
  clear: both;
}

/* 9/10 left; 1/10 right */
.left90 {
  padding-top: 0.7em;
  float: left;
  width: 85%;
}
.right10 {
  padding-top: 0.7em;
  float: right;
  width: 9%;
}

/* 95% left; 5% right */
.left95 {
  padding-top: 0.7em;
  float: left;
  width: 91%;
}
.right05 {
  padding-top: 0.7em;
  float: right;
  width: 5%;
}

.left5 {
  padding-top: 0.7em;
  margin-left: 0em;
  margin-right: -0.4em;
  float: left;
  width: 7%;
}
.left10 {
  padding-top: 0.7em;
  margin-left: -0.2em;
  margin-right: -0.5em;
  float: left;
  width: 10%;
}
.left30 {
  padding-top: 0.7em;
  float: left;
  width: 30%;
}
.right30 {
  padding-top: 0.7em;
  float: right;
  width: 30%;
}

.thin-left {
  padding-top: 0.7em;
  margin-left: -1em;
  margin-right: -0.5em;
  float: left;
  width: 27.5%;
}

/* Format tables */
table {
  color: #000000;
  font-size: 14pt;
  line-height: 100%;
  border-top: 1px solid #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
}
th, td {
  background-color: #ffffff;
}
table th {
  font-weight: 400;
}


/* Extra left padding */
.pad-left {
  margin-left: 5%;
}

/* Extra left padding */
.big-left {
  margin-left: 15%;
  margin-bottom: -0.4em;
}

/* Attention */
.attn {
  font-weight: 500;
  color: rgb(132,22,23) !important;
  font-family: 'Zilla Slab' !important;
}

/* Note */
.note {
  font-weight: 300;
  font-style: italic;
  color: #314f4f !important;
  /* color: #cccccc !important; */
  font-family: 'Zilla Slab' !important;
}

/* Question and answer */
.qa {
  font-weight: 500;
  /* color: #314f4f !important; */
  color: rgb(132,22,23) !important;
  font-family: 'Zilla Slab' !important;
}

/* Example */
.ex {
  font-weight: 300;
  color: #cccccc !important;
  font-style: italic;
}

.col-left {
  float: left;
  width: 47%;
  margin-top: -1em;
}
.col-right {
  float: right;
  width: 47%;
  margin-top: -1em;
}

.clear-up {
  clear: both;
  margin-top: -1em;
}

/* Remove orange line */
hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: #000000;
  color: #000000;
  height: 1px;
}

.scroll-box-4 {
  height:4em;
  overflow-y: scroll;
}
.scroll-box-8 {
  height:8em;
  overflow-y: scroll;
}
.scroll-box-10 {
  height:10em;
  overflow-y: scroll;
}
.scroll-box-12 {
  height:12em;
  overflow-y: scroll;
}
.scroll-box-14 {
  height:14em;
  overflow-y: scroll;
}
.scroll-box-16 {
  height:16em;
  overflow-y: scroll;
}
.scroll-box-18 {
  height:18em;
  overflow-y: scroll;
}
.scroll-box-20 {
  height:20em;
  overflow-y: scroll;
}
.scroll-output {
  height: 90%;
  overflow-y: scroll;
}